<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".GreenBuyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/GreenBuy.Theme.DayNight"
        tools:targetApi="31">
        <activity
            android:name=".ui.product.trending.TrendingProductActivity"/>
        <activity
            android:name=".ui.shop.shopDetail.EditShopActivity"
            android:exported="false" />
        <activity
            android:name=".ui.shop.myShopDetail.MyShopDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.approve.product.ApproveProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.category.CategoryManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.approve.order.ApproveOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.social.shopReview.RatingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.social.shopReview.ShopReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.editProfile.infomation.CustomerInformationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.editProfile.address.AddressUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.editProfile.address.AddressAddActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.editProfile.address.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.editProfile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.shop.productManagement.EditProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.shop.dashboard.ShopDashboardDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.orders.CustomerOrderActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.profile.orders.CustomerOrderDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.profile.orders.CustomerOrderActivity" />
        <activity
            android:name=".ui.shop.orderDetail.OrderDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.shop.dashboard.ShopDashboardDetailActivity" />
        <activity
            android:name=".ui.shop.productManagement.ProductManagementActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.shop.addProduct.AddProductActivity"
            android:exported="false"
            android:parentActivityName=".ui.shop.productManagement.ProductManagementActivity" />
        <activity
            android:name=".ui.shop.addProduct.ProductVariantActivity"
            android:exported="false"
            android:parentActivityName=".ui.shop.addProduct.AddProductActivity" />
        <activity
            android:name=".ui.shop.shopDetail.ShopDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.product.ProductActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.cart.CartActivity"
            android:exported="false"
            android:parentActivityName=".ui.main.MainActivity" />
        <activity
            android:name=".ui.order.OrderConfirmActivity"
            android:exported="false"
            android:parentActivityName=".ui.cart.CartActivity" />
        <activity
            android:name=".ui.shop.productManagement.EditProductVariantActivity"
            android:exported="false"
            android:parentActivityName=".ui.shop.productManagement.EditProductActivity" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>

</manifest>